* {
  padding: 0px;
  margin: 0px;
  /* border: 2px solid black; */
  box-sizing: border-box;
}
:root {
  --foreGround-color: black;
  --background-color: white;
  --moving-color: white;
}

.darktheme {
  --foreGround-color: white;
  --background-color: rgba(0, 0, 0, 0.921);
  --moving-color: rgb(20, 20, 20);
  /* transition: 0.8s; */
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--background-color);
}

header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  /* position: relative; */
  position: sticky;
  align-items: center;
  top: 0px;
  z-index: 5;
  background-color: var(--moving-color);
}

.fa-bars {
  font-size: 20px;
  font-weight: 700;
  border: none;
  position: absolute;
  display: none;
  cursor: pointer;
}
.navigationBar {
  /* position: absolute; */
  margin: auto;
  position: absolute;
  align-content: center;

  right: 100px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  width: 500px;

  /* right: 90px; */
  /* margin-top: 20px; */
}

.navigationBar ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-content: center;
}
.navigationBar li {
  display: inline-block;

  list-style-type: none;
  /* margin-left: 40px; */
  color: rgb(97, 94, 94);
  /* margin-top: 10px; */
  font-size: 22px;
  position: relative;
}

#darkModeIcons {
  height: 30px;
  width: 30px;
  /* margin-top: 15px; */
  margin-right: 20px;
  cursor: pointer;
  transition: 0.8s;
}

#darkModeIcons:hover {
  transform: rotate(360deg);
}

.logo {
  font-size: 40px;
  text-align: center;
  font-weight: 1000;
  /* padding-top: 2px;
    padding-left: 80px; */
  /* margin-top: 10px; */
  margin-left: 100px;
  color: var(--foreGround-color);
}

.logo span {
  color: rgba(250, 6, 148, 0.682);
  background-color: transparent;
}

.navigationBar li::after {
  content: "";
  width: 0%;
  height: 5px;
  background-color: red;
  position: absolute;
  left: 0px;
  bottom: -5px;
  border-radius: 10px;
  transition: 0.5s;
}

.navigationBar li:hover::after {
  width: 100%;
}
.navigationBar ul li:hover {
  color: red;
  cursor: pointer;
}

.menu {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0px;
  right: -300px;
  width: 300px;
  text-align: center;
  list-style: none;
  font-size: 40px;
  z-index: 5;
  background-color: tomato;
  /* border-radius: 30px; */
  transition: 0.8;
}
.fa-xmark {
  position: relative;
  left: 130px;
  cursor: pointer;
}
.menu li {
  list-style-type: none;
}

.menu-visible {
  display: inline-block;
  right: 0px;
  transition: 0.8s;
}

/* -------------------------------------------------------------------------------- */

.home {
  position: relative;
  height: 670px;
  z-index: 2;
}

.secondary-image {
  display: none;
}

.intro {
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 10px;
  height: 100vh;
  width: 700px;
}

.intro1 {
  display: inline-block;
  color: var(--foreGround-color);
  font-size: 50px;
  position: relative;
  top: 150px;
  left: 150px;
  background-color: transparent;
  /* z-index: 2; */
}
.intro1 span {
  color: tomato;
  background-color: transparent;
  /* z-index: 2; */
}

.intro2 {
  display: inline-block;
  font-size: 25px;
  color: var(--foreGround-color);
  position: relative;
  top: 160px;
  left: 150px;
  width: auto;
  background-color: transparent;
  /* z-index: 2; */
}
.intro2 span {
  color: rgb(255, 0, 0);
  background-color: transparent;
  /* z-index: 2; */
  position: relative;
  display: inline-block;
  width: 210px;
}

.movingText::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100%;
  /* width: 100%; */
  color: var(--foreGround-color);
  border-left: 3px solid red;
  background-color: var(--background-color);
  background-color: var(--moving-color);
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {
  100% {
    width: 0%;
  }
  60% {
    width: 40%;
  }
  40% {
    width: 60%;
  }
  0% {
    width: 100%;
  }
}

.image {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 40px;
  transition: 0.8s;
  z-index: 1;
}

.image:hover {
  top: 5px;
}

.image img {
  height: 500px;
  z-index: 1;
}

.contacts button {
  font-weight: 600;
  border-radius: 20px;
  width: 90px;
  height: 40px;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--foreGround-color);
  transition: 0.6s;
}
.contacts {
  position: absolute;
  top: 360px;
  left: 150px;
  height: auto;
  width: 450px;
  background-color: transparent;
}
.contacts button:hover {
  background-color: rgb(54, 219, 54);
  border: 0px rgb(17, 169, 17);
  box-shadow: 0px 0px 5px 3px rgb(17, 169, 17);
}
.links {
  margin-top: 30px;
  height: auto;
  background-color: transparent;
}

.links a {
  background-color: transparent;
  /* border: 0px solid var(--moving-color); */
  width: 0px;
}
.links i {
  display: inline-block;
  text-align: center;
  height: 45px;
  width: 45px;
  font-size: 30px;
  line-height: 45px;
  border-radius: 50%;
  color: var(--background-color);
  background-color: var(--foreGround-color);
  transition: 0.8s;
  margin-right: 15px;
  /* position: absolute; */
  /* transition: 2s; */
}
.links i:hover {
  background-color: rgb(54, 219, 54);
  border: 0px rgb(17, 169, 17);
  box-shadow: 0px 0px 5px 3px rgb(17, 169, 17);
  margin-right: 40px;
  /* position: relative;
  bottom: 20px; */
  cursor: pointer;
}

@media screen and (max-width: 1195px) {
  .image {
    right: 0px;
  }
  .intro {
    right: 0px;
  }
  .intro1,
  .intro2,
  .contacts {
    left: 10px;
  }
}
@media screen and (max-width: 1035px) {
  .image img {
    height: 400px;
  }
  .image {
    top: 70px;
    right: -55px;
  }
}

@media screen and (max-width: 832px) {
  .image img {
    display: none;
  }
  .image {
    display: none;
  }
  .intro {
    left: 0px;
    width: auto;
  }
  .intro1,
  .intro2 {
    width: auto;
    top: 10vw;
    left: 10vw;
  }

  .contacts {
    width: auto;
    top: 300px;
    left: 10vw;
  }
  .navigationBar {
    display: none;
  }
  .fa-bars {
    display: inline-block;
    right: 10px;
    font-size: 20px;
  }
  #darkModeIcons {
    margin-right: 40px;
  }
}

@media screen and (max-width: 426px) {
  .logo {
    margin-left: 5px;
  }
  .home {
    height: 87vh;
  }

  .intro {
    height: 100%;
  }
  .intro1 {
    /* position: absolute; */
    font-size: 35px;
    top: 230px;
  }
  .intro2 {
    font-size: 15px;
    width: auto;
    top: 240px;
  }
  .intro2 span {
    width: 140px;
  }

  .contacts button {
    font-weight: 600;
    border-radius: 20px;
    width: 90px;
    height: 35px;
    margin-left: 10px;
  }

  .links {
    margin-left: 5px;
  }
  .contacts {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 360px;
    bottom: 10px;
    height: auto;
  }

  .links i {
    height: 35px;
    width: 35px;
    bottom: 0px;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 2px;
  }

  .secondary-image {
    display: inline;
    position: absolute;
    margin-left: 50%;
    /* transform: 50%; */
    transform: translate(-50%);
  }
  .secondary-image img {
    height: 240px;
  }
}
