*{
    padding: 0px;
    margin: 0px;
    border: 2px solid black;
    box-sizing: border-box;
}
:root {
  --foreGround-color: black;
  --background-color: white;
  --moving-color: white;
}

.darktheme {
  --foreGround-color: white;
  --background-color: rgba(0, 0, 0, 0.921);
  --moving-color: rgb(20, 20, 20);
  /* transition: 0.8s; */
}

body {
  /* overflow: hidden; */
  background-color: var(--background-color);
}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    /* position: relative; */
    position: sticky;
    align-items: center;
    top:0px;
    z-index: 2;
    background-color: var(--moving-color);
}
.navigationBar{
    /* position: absolute; */
    margin: auto;
    position: absolute;
    align-content: center;
    
    right: 100px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    width: 500px;
    

    /* right: 90px; */
    /* margin-top: 20px; */
}

.navigationBar ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
}
.navigationBar li{
    display: inline-block;
    
    list-style-type: none;
    /* margin-left: 40px; */
    color: rgb(97, 94, 94);
    /* margin-top: 10px; */
    font-size: 22px;
    position: relative;    
}

#darkModeIcons{
    height: 30px;
    width: 30px;
    /* margin-top: 15px; */
    margin-right: 20px;
    cursor: pointer;
    transition: 0.8s;
}

#darkModeIcons:hover{
    transform: rotate(360deg);

}

.logo{
    font-size: 40px;
    text-align: center;
    font-weight: 1000;
    /* padding-top: 2px;
    padding-left: 80px; */
    /* margin-top: 10px; */
    margin-left: 5vw;
    color: var(--foreGround-color);
}

.logo span {
  color: rgba(250, 6, 148, 0.682);
  background-color: transparent;
}

.navigationBar li::after {
  content: "";
  width: 0%;
  height: 5px;
  background-color: red;
  position: absolute;
  left: 0px;
  bottom: -5px;
  border-radius: 10px;
  transition: 0.5s;
 
}

.navigationBar li:hover::after {
  width: 100%;
}
.navigationBar ul li:hover {
  color: red;
   cursor: pointer;
}

/* -------------------------------------------------------------------------------- */
.home{
  display: grid;
  height: 41vw;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.image img{
  height: 30vw;
}

.image{
  padding: 5vw;
}

.intro{
  width: 45vw;
  padding-left: 5vw;
  padding-top: 9vw;
}

.intro1{
  display: inline-block;
  color: var(--foreGround-color);
  font-size: 4vw;
  background-color: transparent;

}

.intro1 span {
  color: tomato;
  background-color: transparent;
  /* z-index: 2; */
}

.intro2 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 2vw;
  color: var(--foreGround-color);
  width: 25vw;
  background-color: transparent;
  /* z-index: 2; */
}


